{# templates/admin/_layout.html #}
{% extends "base.html" %}

{% block content %}
<div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 mb-3">
        <div class="list-group shadow-sm">
            <a href="{{ url_for('admin.users_list') }}"
               class="list-group-item list-group-item-action
                      {{ 'active' if request.endpoint == 'admin.users_list' }}">
                <img class="staff-icon" src="{{ url_for('static', filename='images/staff-icon.png') }}" alt=""> Staff Users
            </a>
            <a href="{{ url_for('admin.user_new') }}"
               class="list-group-item list-group-item-action
                      {{ 'active' if request.endpoint == 'admin.user_new' }}">
                <i class="bi bi-person-plus"></i> Add User
            </a>
            <a href="{{ url_for('admin.cells') }}"
               class="list-group-item list-group-item-action
                      {{ 'active' if request.endpoint in ['admin.cells', 'admin.cell_delete'] }}">
               <img class="cell-block-icon" src="{{ url_for('static', filename='images/cell-block-icon.png') }}" alt=""> Cell Blocks
            </a>
        </div>
    </div>

    <!-- Main -->
    <div class="col-md-9 col-lg-10">
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}